    <footer>
      <p class="pt-5 pb-3 text-center">
        <a class="btn btn-outline-light py-2" href="https://www.linkedin.com/in/jonathanohanlon">LinkedIn</a>
        <a class="btn btn-outline-light btn-lg py-2" href="/contact.html">Contact</a>
        <a class="btn btn-outline-light py-2" href="https://www.github.com/jbohanlon">GitHub</a>
      </p>
      <p class="text-center pt-3 text-light">&#169; <span id="copyright-year"></span> Jonathan O'Hanlon</p>
    </footer>
  </body>
</html>